body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #001f2d; /* Màu nền xanh đen */
}

.register-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-image: url("../../images/Logincode.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}


.register-form {
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 10px; 
  border-radius: 20px;
  width: 350px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-left: 10%; 
}

.register-form h2 {
  padding-bottom: 8px; 
  text-align: center;
  color: #489bbf; 
  font-size: 18px; 
}

.register-form .ant-form-item {
  margin-bottom: 6px; 
}

.register-form .ant-input,
.register-form .ant-input-password {
  border-radius: 20px; 
  height: 36px; 
  font-size: 14px; 
}

.register-form button {
  width: 100%;
  padding: 5px; 
  background-color: #489bbf; 
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px; 
}

.register-form button:hover {
  background-color: #2980b9; /* Màu nút khi hover */
}

.signin-link {
  text-align: center;
  margin-top: 8px; 
}

.signin-link a {
  color: #489bbf; /* Màu link */
  text-decoration: none;
}

.signin-link a:hover {
  text-decoration: underline;
}
