.manage-account-container {
    padding: 20px;
    margin-top: 40px;
  }
  
  .table-manager-account {
    border: 2px solid black; /* Viền đen cho bảng */
    border-radius: 20px; /* Bo góc bảng */
    overflow: hidden; /* Đảm bảo viền không bị cắt */
  }
  
  