.my-auction-container {
    padding: 30px;
    background-color: #f5f5f5;
    
  }
  
  .my-auction-container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  .ant-card {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid black;
  }
  
  .ant-card-title {
    
    font-size: 18px;
    font-weight: bold;
  }
  
  .ant-card-body p {
    margin: 5px 0;
    
  }
  
  .ant-badge-count {
    background-color: #f5222d; /* Màu badge cho likes */
  }
  
  .ant-tag {
    font-size: 14px;
  }
  
  .ant-tag-success {
    background-color: #52c41a;
  }
  
  .ant-tag-warning {
    background-color: #faad14;
  }
  