.profile-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  border: 2px solid #1890ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 100px auto;
}

.profile-form h2 {
  text-align: center;
  margin-bottom: 24px;
  color: #333;
  font-size: 24px;
  font-weight: 600;
}
.profile-form h4 {
  text-align: center;
  margin-bottom: 24px;
  color: #333;
  font-size: 15px;
  font-weight: 600;
}
