.card-container {
  width: 220px;
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  font-family: 'Fredoka', sans-serif;
  transition: transform 0.3s, box-shadow 0.3s; /* Thêm hiệu ứng chuyển động */
  margin: 10px; /* Thêm khoảng cách cho các thẻ */
}

.card-container:hover {
  transform: translateY(-5px); /* Đẩy thẻ lên khi hover */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Tăng bóng đổ khi hover */
}

.card-header {
  position: relative;
}

.card-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.card-likes {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  margin: 0;
}

.card-status {
  color: #888;
  font-size: 14px;
}

.card-rating {
  margin: 5px 0;
}

.star {
  color: #ddd;
  font-size: 16px;
}

.star.filled {
  color: #f39c12;
}

.card-price {
  background-color: #333;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  margin: 5px 0;
}

.card-info {
  font-size: 14px;
  line-height: 1.6;
}

.card-info p {
  margin: 5px 0;
}

.card-time-left {
  text-align: center; /* Căn giữa nội dung */
}

.time-left {
  display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử */
  justify-content: space-around; /* Cách đều các phần tử */
  margin-top: 10px; /* Khoảng cách giữa tiêu đề và thời gian */
}

.time-unit {
  display: flex;
  flex-direction: column; /* Đặt số và nhãn theo cột */
  align-items: center; /* Căn giữa các phần tử con */
}

.time-value {
  font-size: 23px; /* Kích thước chữ cho số */

}

.time-label {
  font-size: 14px; /* Kích thước chữ cho nhãn */
  font-weight: bold; 
}
