.header {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  background-color: #000; 
  color: #fff;
  padding: 10px 20px; 
  z-index: 1000;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  font-family: 'Fredoka', sans-serif; 
  border-bottom: #d4b8b8 solid 2px;
}

.logo {
  flex: 1;
}

.nav {
  flex: 1; 
  text-align: right; 
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  display: inline;
  margin-left: 20px; 
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px; 
}

.nav ul li a:hover {
  text-decoration: underline; 
}



.btn-login {
  background-color: #000000;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #fff; 
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-login:hover {
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}


.btn-register {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #fff; 
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-register:hover {
  background-color: #b3b3b3;
  border-color: #b3b3b3; 
  color: white;
}
