body {
  background-color: #ffffff !important;
  margin: 0;
  padding: 0;
}


.auction-form-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  margin-top: 130px;
  text-align: center;
}


.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.search-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.search-form .ant-select,
.search-form .ant-input-number,
.search-form .ant-btn,
.custom-slider {
  width: 240px; 
}

.search-form .ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
  transition: background-color 0.3s ease;
}

.search-form .ant-btn-primary:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}


.custom-slider {
  width: 240px; 
}

.ant-slider-track {
  background-color: #1890ff;
}

.ant-slider-handle {
  border-color: #1890ff;
}


.select-breeder,
.select-varieties,
.select-type,
.select-sex,
.select-status {
  width: 240px;
}


.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
  background-color: #ffffff;
  margin: 20px auto;
  max-width: 1200px;
  border-radius: 8px;
}

.card-grid > div {
  flex: 0 0 calc(25% - 20px);
  max-width: calc(25% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
}

.card-container {
  max-width: 220px;
  margin: 10px;
}

.card-container:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* Style cho phần chứa nút chuyển trang */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination-button {
  margin: 0 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: lightgray;
  color: black;
  transition: background-color 0.3s ease;
}

.pagination-button.active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.pagination-button:hover {
  background-color: darkgray;
}

/* Style cho nút filter */
.custom-filter-button {
  width: 240px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.custom-filter-button:hover {
  background-color: #388e3c;
}

/* Đảm bảo nút, slider và select có cùng chiều rộng */
.select-type,
.select-sex,
.select-status,
.custom-slider,
.custom-filter-button {
  width: 240px;
}
