.bid-form-container {
  padding: 20px;
  border-radius: 8px;
  max-width: 900px; 
  margin: 0 auto;
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
}

.bid-section {
  width: 60%; /* Đặt chiều rộng của phần Bid lớn hơn */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bid-adjust-button {
  width: 50px; /* Chiều rộng nút */
  height: 50px; /* Chiều cao nút */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #bfbfbf; /* Màu xám */
  border: none; /* Không viền */
  color: white; /* Màu chữ trắng */
  transition: background-color 0.3s ease;
  border-radius: 5px;
  margin: 0 5px; /* Thêm margin giữa nút và ô input */
}

.bid-input {
  width: 100px; /* Thay đổi chiều rộng ô nhập giá nếu cần */
  text-align: center; /* Căn giữa nội dung ô nhập */
}

.balance-section {
  font-size: 16px;
  font-weight: bold;
  margin-left: 50px; /* Tăng khoảng cách giữa ô Bid và balance */
  color: #333; /* Thay đổi màu sắc nếu cần */
}

.buy-now-section {
  width: 35%; /* Đặt chiều rộng của phần Buy Now nhỏ hơn */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button-bid {
  margin-left: 5px; /* Đặt khoảng cách nhỏ giữa ô Bid và nút Bid */
  background-color: #4d4d4d; /* Màu nền */
  font-size: 13px;
  color: white; /* Màu chữ */
}

.button-buy-now {
  width: 85px; /* Đặt chiều rộng của nút (có thể thay đổi theo ý thích) */
  font-size: 16px; /* Tăng kích thước font chữ */
  padding: 10px; /* Thay đổi padding để nút lớn hơn */
  background-color: #f5222d; /* Màu nền */
  margin-left: 10px; /* Khoảng cách với nút Buy Now */
  border-radius: 5px; /* Góc bo tròn */
  color: white; /* Màu chữ */
  border: none; /* Không viền */
  transition: background-color 0.3s ease; /* Hiệu ứng khi hover */
}

.button-buy-now:hover {
  background-color: #cf1322; /* Màu hover */
}

.buy-now-price-box {
  background-color: white; /* Nền trắng */
  border: 2px solid #1890ff; /* Viền xanh biển */
  border-radius: 5px; /* Góc bo tròn */
  padding: 10px; /* Khoảng cách bên trong ô */
  display: flex; /* Để căn giữa nội dung */
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center; /* Căn giữa theo chiều ngang */
  min-width: 120px; /* Chiều rộng tối thiểu để đảm bảo không bị quá nhỏ */
}
